name: Ensure the release is ready

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize ]

jobs:
  ready:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the branch
        id: checkout-branch
        uses: actions/checkout@v2

      - name: View the changelog
        run: cat CHANGELOG.md

      - id: unreleased-not-empty
        name: Check the unreleased section isn't empty
        run: if [ -z "$(docker run -i --rm -v "$(pwd)":/usr/local/app -w /usr/local/app rcmachado/changelog show unreleased)" ] ; then exit 1; fi

      - id: validate-released
        name: Validate the unreleased version
        uses: mindsers/changelog-reader-action@v2
        with:
          validation_depth: 10
          version: 'Unreleased'
          path: ./CHANGELOG.md
      ## TODO Not sure validation is working fully? Need to test all these

      - id: test-release
        name: Dry release
        run: docker run -i --rm -v "$(pwd)":/usr/local/app -w /usr/local/app rcmachado/changelog release 1.0.0
