name: Release a new version

on:
  # Trigger the release when a pull request to master is merged or closed without merge.
  pull_request:
    branches:
      - master
    types: [ opened, edited, reopened, synchronize ]

jobs:
  version:
    # Only trigger if the pull request was actually merged,
    # the pull request head branch starts with release/
    if: |
      github.event.pull_request.merged == true ||
      startsWith(github.event.pull_request.head.ref, 'release/')

    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.version-export.outputs.version }}

    steps:
      - id: version-calculator
        name: Calculate the current version
        run: echo "version=${{ github.event.pull_request.title }}" >> $GITHUB_ENV

      - name: Check version constraint validity
        uses: actions-ecosystem/action-regex-match@v2
        id: regex-match
        with:
          text: ${{ env.version }}
          regex: '^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$'

      - name: Abort if version incorrect
        id: abort-version
        if: ${{ steps.regex-match.outputs.match == '' }}
        run: exit 1

      - name: Export the version to be useable by other jobs
        id: version-export
        run: echo "::set-output name=version::${{ env.version }}"

  release:
    runs-on: ubuntu-latest
    needs: version
    steps:
      - name: Checkout the main branch
        id: checkout-main
        uses: actions/checkout@v2
        with:
          ref: master

      - id: sdds
        run: cat CHANGELOG.md

      - name: Update CHANGELOG with version
        id: update-changelog
        run: docker run -i --rm -v "$(pwd)":/usr/local/app -w /usr/local/app rcmachado/changelog release 2.0.4 -o CHANGELOG.md

      - id: sdd
        run: cat CHANGELOG.md

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "v${{ needs.version.outputs.version }}"
          release_name: "v${{ needs.version.outputs.version }}"
          body: "${{ steps.get-changelog.outputs.changelog }}" # TODO Add links to the release
          draft: false
          prerelease: false
          # TODO This is currently not picking up bullet points in the body. I've added "" round body, hopefully that will fix it
          
    # TODO Checkout develop
    # Merge in changes from master
    # Email (?) to say release successful
    # TODO Check 'v' is always included in release versions
